@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head >
        <title>
            Faculty of Sciences
        </title>
    </head>
    <body>
        <h1>Faculty of Sciences</h1>
        <p>
            The faculty of sciences envisions to provide theoretical as well as practicalknowledge with quality 
            research and innovation to develop highly skilled professionals in demanding fields of physical and 
            biological sciences particularly in food, agriculture , pharmaceutical, forensic and medical sciences.
        </p>
        <h3>Our Goals</h3>
        <p>
            Faculty of Sciences also aims to develop interdeciplinary insight, practical knowledge and emperical 
            skills among students. Moreover, faculty of science is committed for the professional and personal 
            growth of students through the development of new scientific knowledge and interpersonal skills. 
            We strive to provide ample opportunities for professional and personal growth of our students that will allow 
            students to excel in future endeavors
        </p>
        
    </body>
</html>