@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

     /*header menu*/
        .title {
            font-size: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
        }

        li a, .dropbtn {
            text-decoration: none;
            font-style: normal;
            height: 20px;
            display: flex;
            align-items: center;
            padding: 10px;
            font-size: 20px;
            font-style:normal;
        }

        .navbar {
            background-color: black;
        }

            .navbar a {
                float: left;
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                margin: 10px;
                font-style: normal;
                font-size: 20px;
            }

        ul {
            list-style-type: none;
            margin: 30px 0;
            padding: 5px;
            display: flex;
            justify-content: space-evenly;
            border-style: solid;
        }

        body {
            font-size: 16px;
            background-color: white;
            color: black;
            font-family: 'Times New Roman', Times, serif;
        }

        .dropbtn {
            background-color: gray;
            color: black;
            padding: 20px;
            font-size: 16px;
            margin: 10px;
        }

        .dropdown-content {
            position: absolute;
            background-color: aqua;
            min-width: 11px;
            display: none;
        }

            .dropdown-content a {
                color: black;
                padding: 10px 12px;
                float: none;
                text-decoration: none;
                display: block;
                text-align: left;
            }

            .dropdown-content a:hover {
                    background-color: red;
                }

            .dropdown:hover .dropdown-content {
            display: block;
        }

             .dropdown:hover .dropbtn {
            background-color: blue;
        }


body 
{
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
    

        }
/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: gray;
  border: black;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  position:center;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  position:center;
}
.form-container .cancelbtn {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.9;
  position:center;
}
MyForm{
    
    position:center;
  
    }



/* Add some hover effects to buttons */
.form-container .btn:hover,.form-container .cancelbtn:hover, .open-button:hover {
  opacity: 1;
}
</style>

</head>
<body>

    <header>
     <div class="container">
        <div class="navbar">
            <ul>

                <li> <a href="~/home/Index">Home</a></li>
                <li> <a href="~/home/Adminlogin">Admin login </a></li>

                <li> <a href="~/home/signup">SignUp</a></li>
                <li> <a href="~/home/login">Login</a></li>

                <div class="dropdown">
                    <button class="dropbtn">Faculities</button>
                    <div class="dropdown-content">
                        <a href="#Art">Arts</a>
                        <a href="~/home/facofscience">Science</a>
                        <a href="#commerce">Commerce</a>
                        <a href="#Technology">Technology</a>
                        <a href="#Sport">Sports</a>
                        <a href="#Other">Others</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Student </button>
                    <div class="dropdown-content">
                        <a href="~/home/Addmission">Admissions</a>
                        <a href="#">Scholarship</a>
                        <a href="#">Examination</a>
                        <a href="#">Results</a>
                        <a href="#">Manage Results</a>
                    </div>
                </div>
            </ul>
        </div>
</header>

<div class="form-popup" id="myForm">
  <form  class="form-container">
    <h1>Admin Login</h1>

     <label for="Name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="Name" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <a href="~/home/Index" ><button type="button"  class="cancelbtn">Cancel</button></a>
    <button type="submit" class="btn">Login</button>
  </form>
</div>



</body>
</html>