
<!DOCTYPE html>
<html>
<head>
    <style>

          /*header menu*/
        .title {
            font-size: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
        }

        li a, .dropbtn {
            text-decoration: none;
            font-style: normal;
            height: 20px;
            display: flex;
            align-items: center;
            padding: 10px;
            font-size: 20px;
            font-style:oblique;
        }

        .navbar {
            background-color: black;
        }

        .navbar a {
                float: left;
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                margin: 10px;
                font-style: normal;
                font-size: 20px;
        }

        ul {
            list-style-type: none;
            margin: 30px 0;
            padding: 5px;
            display: flex;
            justify-content: space-evenly;
            border-style: solid;
        }

        body {
            font-size: 16px;
            background-color: white;
            color: black;
            font-family: 'Times New Roman', Times, serif;
        }

        .dropbtn {
            background-color: gray;
            color: black;
            padding: 20px;
            font-size: 16px;
            margin: 10px;
        }

        .dropdown-content {
            position: absolute;
            background-color: aqua;
            min-width: 11px;
            display: none;
        }

            .dropdown-content a {
                color: black;
                padding: 10px 12px;
                float: none;
                text-decoration: none;
                display: block;
                text-align: left;
            }

            .dropdown-content a:hover {
                    background-color: red;
                }

            .dropdown:hover .dropdown-content {
            display: block;
        }

             .dropdown:hover .dropbtn {
            background-color: blue;
        }

        tr td {
            font-style: bold;
            
        }

        td {
            font-size: 15px;
                

        }

        thead td {
            border: 1px solid black;
            font-size: 15px;
        }
        h1{
            position:center;
            color:gray;
            padding:10px;
            justify-content:center;
            margin-left:680px;
            
        }
        table{
            border: 3px dotted black;
            background-color:lightgray;

        }
        form{
            background-color:lightslategray;

        }
        .submitbtn{
            font-size:30px;
            align-content:center;
            position:center;
            margin-left:750px;
           

        }
        

    </style>
</head>
<body>
    
     <header>
        <div class="container">
            <div class="navbar">
                <ul>

                    <li> <a href="/home/Index">Home</a></li>
                    <li> <a href="~/home/Adminlogin">Admin login </a></li>

                    <li> <a href="~/home/signup">SignUp</a></li>
                    <li> <a href="~/home/login">Login</a></li>

                    <div class="dropdown">
                        <button class="dropbtn">Faculities</button>
                        <div class="dropdown-content">
                            <a href="#Art">Arts</a>
                            <a href="~/home/facuitityofscience">Science</a>
                            <a href="#commerce">Commerce</a>
                            <a href="#Technology">Technology</a>
                            <a href="#Sport">Sports</a>
                            <a href="#Other">Others</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">Student </button>
                        <div class="dropdown-content">
                            <a href="~/home/Addmission">Admissions</a>
                            <a href="#">Scholarship</a>
                            <a href="#">Examination</a>
                            <a href="#">Results</a>
                            <a href="#">Manage Results</a>
                        </div>
                    </div>
                </ul>
            </div>
            </div>
    </header>
    <h1>ATTEDENCE</h1>
    <form >
        <table align="center" cellpadding="10" cellspacing="10"  >
            <thead>
            <td>ID</td>
            <td>Name</td>
            <td>Roll NO</td>
            <td>Section</td>
            <td>
                <input type="radio" name="s1" value="Select All" />
                Select All
            </td>
            <td>
                <input type="radio" name="s1" value="Select All" />
                Select All
            </td>
            <td>
                <input type="radio" name="s1" value="Select All" />
                Select All
            </td>
            <td>
                <input type="radio" name="s1" value="Select All" />
                Select All
            </td>
            </thead>
             

            
          

            <tr>
                <td>1</td>
                <td>Usman</td>
                <td>20101001-075</td>
                <td>yellow</td>
                <td>
                    <input type="radio" name="p1" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p1" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p1" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p1" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>XYZ</td>
                <td>20101001-333</td>
                <td>yellow</td>
                <td>
                    <input type="radio" name="p2" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p2" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p2" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p2" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>3</td>
                <td>Osman</td>
                <td>20101001-999</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p3" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p3" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p3" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p3" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>


            <tr>
                <td>4</td>
                <td>atif</td>
                <td>20101001-126</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p4" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p4" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p4" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p4" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr >
                <td>5</td>
                <td>zain</td>
                <td>20101001-026</td>
                <td>yellow</td>
                <td>
                    <input type="radio" name="p5" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p5" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p5" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p5" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr >

            <tr>
                <td>6</td>
                <td>zaigham</td>
                <td>20101001-113</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p6" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p6" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p6" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p6" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>7</td>
                <td>uuuu</td>
                <td>20101001-111</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p7" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p7" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p7" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p7" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>8</td>
                <td>Usama</td>
                <td>20101001-222</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p8" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p8" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p8" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p8" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>9</td>
                <td>asad</td>
                <td>20101001-999</td>
                <td>yellow</td>
                <td>
                    <input type="radio" name="p9" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p9" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p9" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p9" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>10</td>
                <td>usmani</td>
                <td>20101001-777</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p10" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p10" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p10" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p10" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>


            <tr>
                <td>11</td>
                <td>xzcvx</td>
                <td>20101001-555</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p11" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p11" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p11" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p11" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>12</td>
                <td>dfv</td>
                <td>20101001-464</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p12" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p12" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p12" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p12" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>13</td>
                <td>fgve</td>
                <td>20101001-232</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p13" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p13" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p13" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p13" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

             <tr>
                <td>14</td>
                <td>ususus</td>
                <td>20101001-2vf32</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p14" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p14" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p14" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p14" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

             




        </table>
        <a href="~/home/Index" ><button type="button"  class="submitbtn">Submit</button></a>
    </form>
     
</body>
</html>