
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>

        :root {
            --blue: #1e90ff;
            --white: #ffffff;
            --darkblue: #0A2647;
            --darkblue2: #144272;
            --darkblue3: #2C74B3;
            --black: #1A0000;
            --fullblue: #1C315E;
            --gray: #282A3A;
            --gray1: #3F4E4F;
            --gray2: #7F8487;
        }

        footer {
            background-color: var(--darkblue);
            border-width: 50px;
            padding: 20px;
            text-align: center;
            margin: 10px;
        }

        .fa {
            padding: 20px;
            font-size: 30px;
            width: 20px;
            text-align: justify;
            text-decoration: none;
        }

            .fa:hover {
                opacity: 0.7;
            }

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa-twitter {
            background: #55ACEE;
            color: white;
        }

        .fa-google {
            background: #dd4b39;
            color: white;
        }

        .fa-linkedin {
            background: #007bb5;
            color: white;
        }

        .fa-youtube {
            background: #bb0000;
            color: white;
        }

        .fa-instagram {
            background: #125688;
            color: white;
        }

        .fa-pinterest {
            background: #cb2027;
            color: white;
        }


        .title {
            font-size: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
        }

        li a {
            text-decoration: none;
            font-style: normal;
            height: 20px;
            display: flex;
            align-items: center;
            padding: 10px;
            font-size: 30px;
            font-style: oblique;
        }

        .dropbtn {
            font-style: normal;
            height: 10px;
            display: flex;
            align-items: center;
            padding: 10px;
            font-size: 30px;
            font-style: normal;
        }

        .navbar {
            background-color: var(--fullblue);
        }

            .navbar a {
                float: left;
                display: block;
                color: var(--white);
                text-align: center;
                padding: 15px;
                font-style: normal;
                font-size: 25px;
            }

        ul {
            list-style-type: none;
            padding: 5px;
            display: flex;
            justify-content: space-evenly;
            border-style: solid;
        }

        .dropbtn {
            background-color: var(--darkblue3);
            color: var(--white);
            padding: 20px;
            margin: 15px;
            font-size: 20px;
        }

        .dropdown-content {
            position: absolute;
            background-color: var(--gray2);
            min-width: 5px;
            display: none;
        }

            .dropdown-content a {
                color: black;
                padding: 10px 12px;
                float: none;
                text-decoration: none;
                display: block;
                text-align: left;
            }

        .main span {
            font-size: 25px;
            font-style: normal;
        }

        p {
            display: block;
            margin-block-start: 0em;
            margin-block-end: 2em;
            margin-inline-start: 5px;
            margin-inline-end: 5px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: var(--darkblue3);
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: var(--gray2);
        }

        tr td {
            font-style: normal;
        }

        td {
            font-size: 15px;
        }

        thead td {
            border: 1px solid black;
            font-size: 15px;
            background-color: var(--gray1);
            color: var(--white);
        }

        h1 {
            position: center;
            color: var(--gray1);
            text-align: center;
        }

        table {
            border: 3px solid black;
            background-color: lightslategray;
            
        }

        form {
            background-color: var(--gray1);
            margin:10px;
        }

        .submitbtn {
            font-size: 30px;
            align-content: center;
            position: center;
            margin-left: 750px;
        }
    </style>
</head>
<body>


    <h1>ATTEDENCE</h1>
    <form>
        <table align="center" cellpadding="10" cellspacing="10">
            <thead>
            <td>ID</td>
            <td>Name</td>
            <td>Roll NO</td>
            <td>Section</td>
            <td>
                <input type="radio" name="s1" value="Select All" />
                Select All
            </td>
            <td>
                <input type="radio" name="s1" value="Select All" />
                Select All
            </td>
            <td>
                <input type="radio" name="s1" value="Select All" />
                Select All
            </td>
            <td>
                <input type="radio" name="s1" value="Select All" />
                Select All
            </td>
            </thead>





            <tr>
                <td>1</td>
                <td>Usman</td>
                <td>20101001-075</td>
                <td>yellow</td>
                <td>
                    <input type="radio" name="p1" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p1" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p1" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p1" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>XYZ</td>
                <td>20101001-333</td>
                <td>yellow</td>
                <td>
                    <input type="radio" name="p2" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p2" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p2" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p2" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>3</td>
                <td>Osman</td>
                <td>20101001-999</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p3" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p3" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p3" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p3" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>


            <tr>
                <td>4</td>
                <td>atif</td>
                <td>20101001-126</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p4" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p4" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p4" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p4" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>5</td>
                <td>zain</td>
                <td>20101001-026</td>
                <td>yellow</td>
                <td>
                    <input type="radio" name="p5" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p5" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p5" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p5" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>6</td>
                <td>zaigham</td>
                <td>20101001-113</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p6" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p6" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p6" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p6" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>7</td>
                <td>uuuu</td>
                <td>20101001-111</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p7" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p7" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p7" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p7" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>8</td>
                <td>Usama</td>
                <td>20101001-222</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p8" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p8" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p8" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p8" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>9</td>
                <td>asad</td>
                <td>20101001-999</td>
                <td>yellow</td>
                <td>
                    <input type="radio" name="p9" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p9" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p9" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p9" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>10</td>
                <td>usmani</td>
                <td>20101001-777</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p10" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p10" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p10" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p10" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>


            <tr>
                <td>11</td>
                <td>xzcvx</td>
                <td>20101001-555</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p11" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p11" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p11" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p11" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>12</td>
                <td>dfv</td>
                <td>20101001-464</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p12" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p12" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p12" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p12" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>13</td>
                <td>fgve</td>
                <td>20101001-232</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p13" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p13" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p13" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p13" value="Not Marked" />
                    Not Marked
                </td>

                </td>
            </tr>

            <tr>
                <td>14</td>
                <td>ususus</td>
                <td>20101001-2vf32</td>
                <td>Blue</td>
                <td>
                    <input type="radio" name="p14" value="Present" />
                    Present
                <td>
                    <input type="radio" name="p14" value="Absent" />
                    Absent
                </td>
                <td>
                    <input type="radio" name="p14" value="Leave" />
                    Leave
                </td>
                <td>
                    <input type="radio" name="p14" value="Not Marked" />
                    Not Marked
                </td>

                


            </tr>






        </table>
        <a href="~/home/Homepage"><button type="button" class="submitbtn">Submit</button></a>
    </form>

</body>
</html>