@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <style>
        fieldset {
            padding:10px;
            margin:20px;
        }
        legend{
            font-size:20px;
        }
        .stdinfo{
            font-size:30px;
            padding:20px;
            margin:20px;
        }
        .marks{
             font-size:30px;
            padding:20px;
            margin:20px;
        }
        .Grades{
             font-size:30px;
            padding:20px;
            margin:20px;
        }
        .cancelbtn{
            font-size:20px;
        }
        .submitbtn{
            font-size:20px;
        }
        
    </style>
</head>
<body>
    <form method="post">

        <fieldset>
            <legend>Student Info</legend>
            <div class="stdinfo">
                Student Name:<input type="text" placeholder="Enter Name" /></br>
                Student Roll-No:<input type="text" placeholder="Enter Roll Number" /></br>
                Section:<input type="text" placeholder="Enter Section" /></br>
                Semester:<input type="text" placeholder="Enter Senester" /></br>
                Department:<input type="text" placeholder="Enter Department" /></br>
                Program:<input type="text" placeholder="Enter Program" /></br>
            </div>
            </br>
        </fieldset>

        <fieldset>
            <legend>Student Marks </legend>
            <div class="marks">
                Math:<input type="text" placeholder="Enter marks" /></br>
                English:<input type="text" placeholder="Enter marks" /></br>
                Urdu:<input type="text" placeholder="Enter marks" /></br>
                Computer:<input type="text" placeholder="Input marks" /></br>
                WAD:<input type="text" placeholder="Enter marks" /></br>
            </div>
        </fieldset>
        <fieldset>
            <legend>Student Grades</legend>
            <select name="Grades">
               <option value="Value 1"selected="selected">Grades</option>
                <option value="Value 2"> A+</option>
                <option value="Value 3">B+</option>
                <option value="Value 4">C+</option>
                <option value="Value 5">D+</option>
            </select>

        </fieldset>
          <a href="~/home/Index" ><button type="button"  class="cancelbtn">Cancel</button></a> 
         <a href="~/home/Index" ><button type="button"  class="submitbtn">Submit Marks</button></a>

    </form>


</body>
</html>