@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        
       
        
    </head>
    <body>
        
        <h1>
            Department of Information Technology
        </h1>
        <h4>WHY CHOOSE US</h4>
        <p>
            To become a center of excellence in both teaching and research of computer science on an international level.
            One of the key elements here is to prepare the graduates for the future by incorporating newly emerging technologies
            in the curriculum. Different Programs will provide a broad understanding of the field via introducing concepts, theory, 
            and techniques. Intensive education/training in focused areas of Computer Science. Encouraging students to develop and 
            use abstract models in addition to applying respective technology in practical situations.Development of special communication 
            skills both oral and written to produce well-organized reports, which clearly delineate objectives, methods of solution, results, 
            and conclusions for a complex task.Provision of formal foundations for higher learning. Dynamic and flexible enough to maintain currency 
            with the latest scientific and technological developments in the field. Provision of professional orientation to prepare students for Industry.
        </p>
        <h3>Vision</h3>
        <p>
            To produce self-motivated, creative, and innovative professional leaders in delivering IT-based services
            by supporting teaching and learning,research and development, industry, and academia.
        </p>
        <h3>Mission</h3>
        <p>
            To provide IT professionals and IT solutions to promote and facilitate the startups and establish 
            IT Product Development Center for local and national industry.
        </p>
    </body>
</html>